@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  line-height: 1.6;
}

a {
  font-family: "Raleway", sans-serif;
  color: #070439;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background-color: #3065f8;
  color: #f6f6fe;
  font-weight: 700;
  border-radius: 3px;
  border: none;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

header {
  width: 100%;
  position: absolute;
}

.navbar {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 350px;
  padding-left: 10px;
}

.navbar__links-link {
  margin-left: 30px;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}

.navbar__links-link:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 0;
  background: #070439;
  -webkit-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.navbar__links-link:hover:after {
  width: 100%;
}

.navbar__links-link:first-child {
  margin-left: 0;
}

.navbar__img {
  height: auto;
}

.hero {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.hero__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__flex .hero__content {
  margin-right: 20px;
}

.hero__flex .hero__content-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  color: #070439;
  margin-bottom: 20px;
}

.hero__flex .hero__content-subtitle {
  font-size: 1.3rem;
  max-width: 700px;
  margin-bottom: 20px;
}

.hero__flex .hero__content-form input {
  padding: 15px;
  max-width: 400px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #585989;
}

.hero__flex .hero__content-form input::-webkit-input-placeholder {
  font-family: "Raleway", sans-serif;
}

.hero__flex .hero__content-form input:-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
}

.hero__flex .hero__content-form input::-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
}

.hero__flex .hero__content-form input::placeholder {
  font-family: "Raleway", sans-serif;
}

.hero__flex .hero__content-form input:focus {
  outline: none;
  border: 1px solid red;
}

.hero__flex .hero__content-form .form-btn {
  padding: 15px 60px;
  margin-left: 10px;
  z-index: 2;
}

.hero__flex .hero__content-form .form-btn:hover {
  opacity: 0.7;
}

.hero__flex .hero__img {
  max-width: 600px;
}

.productive .mobile {
  display: none;
}

.productive {
  position: relative;
  padding: 50px 0;
  background-color: #f8f8fe;
}

.productive .productive-bg {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 100%;
  z-index: 0;
}

.productive__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productive__flex .productive__content {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  position: relative;
}

.productive__flex .productive__img {
  max-width: 550px;
  position: relative;
}

.productive__flex .productive__content {
  margin-right: 20px;
}

.productive__flex .productive__content-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  color: #070439;
  margin-bottom: 20px;
}

.productive__flex .productive__content-subtitle {
  font-size: 1.3rem;
  max-width: 700px;
  margin-bottom: 20px;
}

.productive__flex .productive__content-link {
  position: relative;
  display: inline-block;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.productive__flex .productive__content-link .link {
  color: #3c9f8f;
  display: inline-block;
  font-size: 1.3rem;
}

.productive__flex .productive__content-link .icon-arrow {
  vertical-align: middle;
  margin-left: 3px;
}

.productive__flex .productive__content-link:after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #3c9f8f;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.productive__flex .productive__content-link:hover {
  opacity: 0.7;
}

.productive__flex .productive__content .productive__testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 380px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.productive__flex .productive__content .productive__testimonial-quotes {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.productive__flex .productive__content .productive__testimonial-desc {
  margin: 20px 0;
  font-size: 1rem;
  line-height: 1.7;
  text-align: left;
}

.productive__flex .productive__content .productive__testimonial-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productive__flex .productive__content .productive__testimonial-profile-persona {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.productive__flex .productive__content .productive__testimonial-profile__author {
  margin-left: 10px;
}

.productive__flex .productive__content .productive__testimonial-profile__author-name {
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
}

.productive__flex .productive__content .productive__testimonial-profile__author-subname {
  font-size: 0.8rem;
}

.access {
  background-color: #585989;
}

.access__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.access__flex .access__content {
  max-width: 650px;
}

.access__flex .access__form {
  margin-left: 150px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-width: 275px;
}

.access__flex {
  padding: 50px 0;
}

.access__flex .access__content-title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f6f6fe;
  margin-bottom: 20px;
}

.access__flex .access__content-subtitle {
  font-size: 1.3rem;
  max-width: 700px;
  margin-bottom: 20px;
  color: #f6f6fe;
}

.access__flex .access__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.access__flex .access__form form #email {
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #585989;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.access__flex .access__form form #email::-webkit-input-placeholder {
  font-family: "Raleway", sans-serif;
}

.access__flex .access__form form #email:-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
}

.access__flex .access__form form #email::-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
}

.access__flex .access__form form #email::placeholder {
  font-family: "Raleway", sans-serif;
}

.access__flex .access__form form #email:focus {
  outline: none;
  border: 1px solid red;
}

.access__flex .access__form form .form-btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 15px 60px;
}

.access__flex .access__form form .form-btn:hover {
  opacity: 0.7;
}

footer {
  background-color: #070439;
}

.footer__flex {
  padding: 50px 0;
}

.footer__flex .footer__row {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__flex .footer__row .footer__col {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.footer__flex .footer__row .footer__contacts ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer__flex .footer__row .footer__contacts ul li a {
  margin-left: 10px;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.footer__flex .footer__row .footer__contacts ul li a:hover {
  opacity: 0.7;
}

.footer__flex .footer__row .footer__links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer__flex .footer__row .footer__links ul li a {
  margin-left: 10px;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.footer__flex .footer__row .footer__links ul li a:hover {
  opacity: 0.7;
}

.footer__flex .footer__row .footer__social a {
  margin-left: 10px;
}

.footer__flex .footer__row .footer__social a img {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.footer__flex .footer__row .footer__social a img:hover {
  opacity: 0.7;
}

.footer__flex .footer__row .footer__social a img:first-child {
  margin-left: 0;
}

.footer__flex ul li a {
  color: #f6f6fe;
}

@media only screen and (max-width: 1200px) {
  .hero__flex .hero__content-title {
    font-size: 2.2rem;
  }
  .hero__flex .hero__content-subtitle {
    font-size: 1rem;
  }
  .hero__flex .hero__content-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 400px;
  }
  .hero__flex .hero__content-form .form-btn {
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
  }
  .productive__flex .productive__content-subtitle {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .hero__flex .hero__content-title {
    font-size: 1.5rem;
  }
  .hero__flex .hero__content-subtitle {
    font-size: 0.9rem;
  }
  .productive__flex .productive__content-title {
    font-size: 2.1rem;
  }
  .productive__flex .productive__content-subtitle {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .hero__flex .hero__content {
    max-width: 400px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0px;
  }
  .hero__flex .hero__content-title {
    font-size: 1.5rem;
  }
  .hero__flex .hero__content-subtitle {
    font-size: 0.9rem;
  }
  .hero__flex .hero__content-form {
    margin: 0 auto;
  }
  .hero__flex .hero__img {
    margin-top: 100px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .productive .mobile {
    display: block;
  }
  .productive .desktop {
    display: none;
  }
  .productive__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productive__flex .productive__content {
    width: 100%;
    margin-right: 0;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .productive__flex .productive__content-title {
    text-align: center;
  }
  .productive__flex .productive__content-subtitle {
    text-align: start;
    max-width: none;
  }
  .productive__flex .productive__content .productive__testimonial {
    margin: 50px auto;
  }
  .productive__flex .productive__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 60px;
    max-width: none;
  }
  .access__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .access__flex .access__content {
    max-width: none;
  }
  .access__flex .access__content-title {
    font-size: 1.2rem;
  }
  .access__flex .access__content-subtitle {
    font-size: 1rem;
  }
  .access__flex .access__form {
    margin-left: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer__flex .footer__row:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .navbar__links {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .navbar__links-link {
    margin-left: 15px;
    font-size: 0.8rem;
  }
  .productive__flex .productive__content-title {
    font-size: 1.2rem;
  }
  .productive__flex .productive__content-subtitle {
    font-size: 1rem;
  }
  .productive__flex .productive__content-link .link {
    font-size: 1rem;
  }
  .productive__flex .productive__content .productive__testimonial {
    max-width: 100%;
  }
}
