// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Raleway", sans-serif;

// Colors
$primary-blue-dark: hsl(243, 87%, 12%);
$primary-blue: hsl(238, 22%, 44%);
$accent-blue: hsl(224, 93%, 58%);
$accent-cyan: hsl(170, 45%, 43%);
$neutral-blue: hsl(240, 75%, 98%);
$neutral-gray: hsl(0, 0%, 75%);

// Spacing
$gutter: 20px;
